* {
    border: none;
    min-height: 0;
    font-family: "JetBrains Nerd Font Mono";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: #000000;
    border: 2px solid #fcfcce;
    border-radius: 4px;
}

tooltip {
    background-color: #101010;
    border: 2px solid #fcfcce;
    font-size: 2px;
	color: #fcfcce;
}

tooltip label {
	margin: 8px;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#language {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
	border-radius: 4px;
}

#workspaces {
    margin: 6px 0px 6px 6px;
    border-radius: 4px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #fcfcce;
    background-color: #120F19;
    border: 2px solid #fcfcce;
    border-radius: 4px;
    margin-right: 2px;
}

#workspaces button.active {
    color: #000000;
    background-color: #fcfcce;
}

#workspaces button.urgent {
    background-color: #cccc7c;
	color: #000000;
	border: 2px solid #cccc7c;
}

#clock {
    background-color: #fcfcce;
    border: 2px solid #120F19;
    color: #000000;
}

#cpu,
#memory,
#network,
#pulseaudio,
#battery,
#tray,
#language {
    background-color: #101010;
    border: 2px solid #fcfcce;
    color: #fcfcce;
}

#network {
	min-width: 100px;
}

#cpu,
#memory,
#battery,
#pulseaudio {
	min-width: 60px;
}

#cpu.critical,
#memory.critical {
    color: #cccc7c;
    border: 2px solid #cccc7c;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    color: #cccc7c;
    border: 2px solid #cccc7c;
}

#custom-launcher {
	font-size: 20px;
	padding-left: 10px;
	padding-right: 5px;
	transition: none;
	color: #fcfcce;
}

#custom-control {
	font-size: 20px;
	padding-left: 5px;
	padding-right: 5px;
	transition: none;
	color: #fcfcce;
}

#language {
	min-width: 20px;
}
