@import "./theme.css";

:root {
	--tf-font-family: "SF Mono", Consolas, monospace; /* Font family of config */
	--tf-font-size: 14px; /* Font size of config */
	--tf-accent: var(--theme-accent-color); /* Accent color used, eg: color when hovering a container  */
	--tf-accent-alt: var(--theme-accent-color-alt); /* Accent color used, eg: color when hovering a container  */
	--tf-bg: var(--theme-bg-color, -moz-dialog); /* Background color of all elements, tab colors derive from this */
	--tf-bg-alt: var(--theme-bg-color-alt, -moz-dialog); /* Background color of all elements, tab colors derive from this */
	--tf-fg: var(--theme-fg-color); /* Foreground color of all elements */
	--tf-fg-alt: var(--theme-fg-color-alt); /* Foreground color of all elements */
	--tf-border: var(--theme-border-color, --toolbar-field-background-color); /* Border color when not hovered */
	/* --tf-border-transition: 0.2s ease; Smooth color transitions for borders */
	--tf-border-transition: 0;
	--tf-border-width: 2px; /* Width of borders */
	--tf-rounding: 0px; /* Border radius used through out the config */
	--tf-margin: 0.8rem; /* Margin used between elements in sidebery */
	--tf-text-transform: none; /* Text transform to use */
	--tf-display-horizontal-tabs: block; /* If horizontal tabs should be shown, none = hidden, block = shown */
	--tf-display-window-controls: none; /* If the window controls should be shown (won't work with sidebery and hidden horizontal tabs), none = hidden, flex = shown */
	--tf-display-nav-buttons: none; /* If the navigation buttons (back, forward) should be shown, none = hidden, flex = shown */
	--tf-display-urlbar-icons: none; /* If the icons inside the url bar should be shown, none = hidden, flex = shown */
	--tf-display-sidebar-tools: flex; /* If the "Customize sidebar" button on the sidebar should be shown, none = hidden, flex = shown */
	--tf-display-titles: flex; /* If titles (tabs, navbar, main etc.) should be shown, none = hidden, flex = shown */
	/* --tf-newtab-logo: "   __            __  ____          \A   / /____  _  __/ /_/ __/___  _  __\A  / __/ _ \\| |/_/ __/ /_/ __ \\| |/_/\A / /_/  __/>  </ /_/ __/ /_/ />  <  \A \\__/\\___/_/|_|\\__/_/  \\____/_/|_|  "; */
	--tf-newtab-logo: " __                      __      ______\A\
/\\ \\___                 /\\ \\___ /\\  ___\\\A\
\\ \\  __\\  ______   __  _\\ \\  __\\\\ \\ \\__/ ______   __  _\A\
 \\ \\ \\_/ /\\  __ \\ /\\ \\/ \\\\ \\ \\_/ \\ \\  __\\\\  __ \\ /\\ \\/ \\\A\
  \\ \\ \\__\\ \\  ___/\\/>  </ \\ \\ \\__ \\ \\ \\_/ \\ \\_\\ \\\\/>  </\A\
   \\ \\___\\\\ \\_____\\/\\_/\\_\\ \\ \\___\\ \\ \\_\\ \\ \\_____\\/\\_/\\_\\\A\
    \\/___/ \\/_____/\\//\\/_/  \\/___/  \\/_/  \\/_____/\\//\\/_/";
	--tf-navbar-margin: 8px 8px 2px; /* navbar margin */
	--tf-navbar-padding: 4px; /* navbar padding */
}
