#urlbar {
	text-align: left !important;
	background-color: transparent !important;

	& input {
		color: var(--tf-fg) !important;
		caret-color: var(--tf-fg) !important;
		opacity: 1;

		&::selection {
			color: var(--tf-bg) !important;
			background-color: var(--tf-fg) !important;
		}

		&::placeholder {
			color: var(--tf-fg) !important;
		}
	}
}

.urlbar {
	--urlbar-background-border: var(--tf-border);
	--urlbar-background-border: var(--border-width) solid var(--tf-border) !important;
	--urlbar-background-border-open: var(--urlbar-background-border) !important;
	--urlbar-background-border-focused: var(--urlbar-background-border) !important;
	--urlbar-background-border-radius: 0 !important;
	--urlbar-background-border-top-radius-open: 0 !important;
	--urlbar-background-box-shadow-open: unset !important;
	--urlbar-background-outline-focused: none !important;
	--urlbar-input-container-border: var(--urlbar-background-border) !important;
	--urlbar-input-container-outline-open: unset !important;
	--urlbar-input-container-outline-open-focused: unset !important;
	--urlbar-input-container-outline-offset-open: unset !important;
	--urlbar-input-growth-open-inline: 0px !important;
	--urlbar-input-growth-open-block: 0px !important;
	--urlbar-box-background-color-focus: var(--urlbar-background-color) !important;
	--urlbar-backgound-color-focus: var(--urlbar-background-color) !important;
}

#sidebar-button {
	padding-left: 0 !important
}

#PanelUI-menu-button {
	padding-right: 0 !important;
}

/* #urlbar-scheme { */
/* 	background-color: #00ff00 !important; */
/* } */

.urlbar-container {
	background-color: var(--tf-bg) !important;
}

.urlbar-background {
	background-color: transparent !important;
	border: unset !important;
	box-shadow: unset !important;
	outline: unset !important;
}

.urlbarView {
	text-align: start;
	margin-top: 10px; /* visually starts where navbar ends */
	background-color: var(--tf-bg) !important;
	border: var(--border-width) solid var(--tf-accent) !important;
	border-top: none !important;
	border-radius: 0 0 var(--tf-rounding) var(--tf-rounding);
}

.urlbarView-background {
	background-color: transparent !important;
	border: unset !important;
	box-shadow: unset !important;
	outline: unset !important;
}

.urlbarView-results {
	padding: 0 var(--border-width);
}

.urlbarView-row {
	border-radius: 0 !important;
	background-color: var(--tf-bg) !important;

	&:hover, &:focus, &[selected] {
		background-color: var(--tf-bg) !important;

		.urlbarView-row-inner {
			background-color: var(--tf-bg) !important;
			color: var(--tf-fg) !important;

			box-shadow: inset var(--border-width) 0 0 var(--tf-accent) !important;
		}
	}
}


.urlbar-input {
	background-color: transparent !important;
	border: unset !important;
	box-shadow: unset !important;
	outline: unset !important;

	&:focus {
		background-color: transparent !important;
	}
}

.urlbar-input-container {
	background-color: transparent !important;
	border: unset !important;
	box-shadow: unset !important;
	outline: unset !important;

	&:focus {
		background-color: transparent !important;
	}
}

.searchmode-switcher {
	background-color: transparent !important;
	color: var(--tf-fg) !important;
	fill: var(--tf-fg) !important;
}

.button-background {
	background-color: transparent !important;
	color: var(--tf-fg) !important;
	fill: var(--tf-fg) !important;
}

.searchmode-switcher-chicklet {
	background-color: var(--tf-bg) !important;
	color: var(--tf-fg) !important;
	padding: 5px !important;

	&:hover {
		color: var(--tf-accent) !important;
	}
}

.urlbar-input-box {
	background-color: transparent !important;
}



#urlbar hbox:first-child {
	background-color: var(--tf-bg) !important;
	border: none !important;
	outline: none !important;
	padding: 0 !important;
	width: fit-content !important;
	height: fit-content !important;
}

.urlbarView-body-inner,
.urlbarView-body-outer {
	border-top: unset !important;
}

.urlbarView:not([noresults])>.search-one-offs:not([hidden]) {
	border-top: var(--border-width) solid var(--tf-accent) !important;
}
