:root {
	--theme-bg-color: #000000;
	--theme-fg-color: #ffffff;
	--theme-fg-color-alt: #7a5a7a;
	--theme-border-color: #ffffff;
	--theme-border-color-hover: #ffffff;
	--theme-accent-color: #7a5a7a;
}
