:root {
	--theme-bg-color: #000000;
	--theme-bg-color-alt: #303030;
	--theme-fg-color: #fcfcce;
	--theme-fg-color-alt: #cccc7c;
	--theme-border-color: #fcfcce;
	--theme-border-color-hover: #cccc7c;
	--theme-accent-color: #cccc7c;
	--theme-accent-color-alt: #aeeeee;
}
