menupopup,
panel {
	--panel-background: var(--tf-bg) !important;
	--panel-border-radius: var(--tf-rounding) !important;
	--panel-border-color: var(--tf-accent) !important;
	--panel-separator-color: var(--tf-border) !important;
	--panel-color: var(--theme-fg-color) !important;
}

slot[part="content"] {
	border-width: var(--border-width) !important;
}

#appMenu-popup {
	#shadow-root {
		> * {
			border-width: 2px !important;
		}
	}
}

menu,
menuitem {
	&:where([_moz-menuactive]:not([disabled="true"])) {
		background: var(--tf-bg) !important;
		box-shadow: inset var(--border-width) 0 0 var(--tf-accent) !important;
	}
	&:where([_moz-menuactive="true"][disabled="true"]) {
		background: var(--tf-bg) !important;
		border-left: calc(0 - var(--border-width)) solid var(--tf-accent) !important;
	}
}

.menupopup-arrowscrollbox {
	border-width: var(--border-width) !important;
}

menuitem {
	border-radius: var(--tf-rounding) !important;
	color: var(--panel-color) !important;
}

menuitem:hover {
	color: var(--theme-fg-color-alt) !important;
}
